{% extends 'base.html.twig' %}

{% block title %}Hello{% endblock %}
{%block body %}
<html lang="fr">

    <head>
        <meta charset="UTF-8">
        <meta name="description" content="">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    </head>

    <body>
        <h1 mb-40>test</h1>
        {{ app.request.pathinfo }}
        {{ app.request.basePath }}
        {{app.request.attributes.get("_route")}}
    </body>
    <div class="tile is-parent">
        <article class="tile is-child notification is-success">
            <div class="content">
                <p class="title">À propos de mobicoop</p>
                <img src="{{ asset('tech.png')}}" alt="">
                <p class="subtitle">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                <div class="content">
                    <!-- Content -->
                </div>
            </div>
        </article>
    </div>
</html>

{% endblock %}