{% extends '@Mobicoop/base.html.twig' %}

{% block title %}{% trans from 'ui' %}user.signup.title{% endtrans %}{% endblock %}

{% block body %}

<section class="hero is-primary">
	<div class="hero-body">
    	<div class="container">
      		<h1 class="title">
				Mobicoop - {% trans from 'ui' %}user.signup.h1{% endtrans %}
      		</h1>
    	</div>
  	</div>
</section>

<section class="section">
	<div class="container">
		{% if error %}
		<span class="tag is-danger">An error occured.</span>
		{% endif %}
        {{ form_start(form) }}
		{{ form_row(form.email) }}
		{{ form_row(form.givenName) }}
        {{ form_row(form.familyName) }}
		{{ form_row(form.gender) }}
		{{ form_row(form.birthYear) }}
		{{ form_row(form.telephone) }}
		{{ form_row(form.password) }}
		{{ form_row(form.conditions) }}
        {{ form_row(form._token) }}
        {{ form_row(form.submit) }}
        {{ form_end(form, {'render_rest': false}) }}
    </div>
</section>

{% endblock %}
