{% extends '@Mobicoop/base.html.twig' %}

{% block title %}Create a proposal{% endblock %}

{% block body %}

<section class="hero is-primary">
	<div class="hero-body">
    	<div class="container">
      		<h1 class="title">
        		Mobicoop - Proposal create
      		</h1>
    	</div>
  	</div>
</section>

<section class="section">
	<div class="container">
		{% if error %}
		<span class="tag is-danger">An error occured.</span>
		{% endif %}
        {{ form_start(form) }}
        {{ form_errors(form) }}
        {{ form_end(form) }}
    </div>
</section>

{% endblock %}
